#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(0,0,0,0);
  margin: 16px;
}

.LogoUco {
  height: 100px;
  width: 200px;
}

.ant-menu-item:active {
  background-color: #43985d;
  color: #ffffff;
  border-right: #f8c00c
}

.ant-menu-item-active {
  color: #007034;
}

.ant-menu-item-selected {
  background-color: #43985d;
  color: #ffffff;
  border-right: #f8c00c
}

::selection {
  color: #fff;
  background: #43985d;
}

