.ant-card-head{
    padding: 0px;
}

.ant-card-bordered {
    min-width: 200px;
    max-width: 300px;
}
.ant-divider-vertical{
    top: 0em;
    height: 2em;
}

.ant-title-asignatura{
    flex-grow: 1;
}




