
td, th {
    display: table-cell;
    vertical-align: top;
}


.ant-table-tbody > tr > td  {
    width: 100px;
}

.ant-card-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.96);
    zoom: 0.8;
    height: 30px;
}



.ant-card-body {
    padding: 10px;
    zoom: 0.8;
}

.ant-card-actions > li {
    margin: 5px 0;
}

.ant-card-actions > li > span {
    line-height: 1px;
}

.ant-card-bordered {
    width: 90px; 
    border: 1px solid black; 
    float: left;
}

.ant-card-wider-padding .ant-card-body {
    padding: 10px 12px;
}

.ant-card-meta-title {
    color: white;
    font-size: 18px;
}

.ant-card-meta-description {
    color: white;
    font-size: 16px;
}